{{ if gt (where site.RegularPages "Section" "==" "job") 0}}
{{"<!-- Start job Section -->" | safeHTML}}
<section id="job" class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeInDown">
					<h2> {{ with i18n "jobTitle" }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
							{{ with i18n "jobTitle" }} {{ index (split . " ") 1 | safeHTML }} {{ end }} </span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML}}

			{{ range first 6 (where site.RegularPages "Section" "==" "job")}}
			{{ .Render "article"}}
			{{ end }}

		</div>
	</div>
</section>
{{"<!-- /job -->" | safeHTML}}
{{ end }}
